* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "DM Serif Text", serif;
}

header {
    background-color: #807f7f;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
}

.logo-jk {
    width: 8rem;
    height: auto;
}

.ul-list {
    display: flex;
    gap: 10px;
}

.ul-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.section-01 {
    background-image: url(image/DESKTOP.jpg);
    background-size: cover;
    background-position: top;
    padding: 14rem;
}

.section-02 {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 9rem;
    flex-wrap: wrap;
    flex-direction: column;
}


.pai-caixas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.caixa {
    background-color: #807f7f;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    width: 25%;
    height: 17rem;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    border-radius: 5px;
    min-width: 300px;
    transition: 0.8s;
    cursor: pointer;
    padding: 1rem;
}

.caixa-icons i {
    color: rgb(0, 0, 0);
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.caixa-icons {
    text-align: center;
}

.texto-caixa p {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
}

.texto-caixa button {
    width: 8rem;
    background-color: #000000;
    border: none;
    padding: 0.5rem;
    color: white;
}

.texto-caixa {
    text-align: center;
}

.text-content h3{
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
}
.text-content p {
    font-size: 1.2rem;
    color: rgb(56, 56, 56);
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #807f7f;
}

.caixa-01{ background-color: #ffffff;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    width: 25%;
    height: 17rem;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    border-radius: 5px;
    min-width: 300px;
    transition: 0.8s;
    cursor: pointer;
    padding: 1rem;
}

.caixa-01 h3{
color: black;
text-align: center;
margin-bottom: 1rem;
margin-top: 1rem;
}

.caixa-01 p {
    color: #333333;
    text-align: center;
    margin-bottom: 2rem;
}

.caixa-01 button {
    width: 8rem;
    background-color: #8a8989;
    border: none;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
}

.caixa-01 {
    text-align: center;
}

#img-fundo {
    background-image: url(image/JK.jpg);
    background-size: cover;
    background-position: top;
}

.segunda-sessao03 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    height: 24rem;
}

.segunda-sessao03 h3 {
    font-size: 2.8rem;
}

.segunda-sessao03 p {
    font-size: 1rem;
    font-weight: 600;
}

.segunda-sessao03 input {
    padding: 0.4rem;
    width: 12rem;
    border: solid 2px;
}

.segunda-sessao03 button {
    padding: 0.2rem;
    width: 6rem;
    margin-bottom: 2rem;
    background-color: #333333;
    color: white;
    border-radius: 0.2rem;
}

footer {
    height: 24rem;
    background-color: #333333;
}

.listas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
    color: white;
}

.listas ul {
    margin-top: 6rem;
}

.listas ul li{
    margin-top: 1rem;
    padding: 0.2rem;
    font-size: 1.2rem;
}

hr {
    border: solid 1px;
    width: 60%;
    color: #ffffff;
    margin-left: 20%;
    margin-top: 2rem;
}

.icones-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    color: white;
}

.icones-footer i {
    font-size: 2.4rem;
}

@media screen and (max-width: 480px;) {
    header {
        background-color: aqua;
    }
    
}

@media (max-widht: 500px;) {
    section {
        background-image: url();
        padding: 10rem;
    }
    nav {
        display: none;
    }
}