* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "DM Serif Text", serif;
}

header {
    background-color: #D8D8C0;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
}

.logo-jk {
    width: 8rem;
    height: auto;
}

.ul-list {
    display: flex;
    gap: 10px;
}

.ul-list li a {
    text-decoration: none;
    color: black;

}

.section-01 {
    background-image: url(image/pexels-pixabay-90764.jpg);
    background-size: cover;
    background-position: top;
    padding: 14rem;
}

@media screen and (max-width: 480px;) {
    header {
        background-color: aqua;
    }
    
}

@media (max-widht: 500px;) {
    section {
        background-image: url();
        padding: 10rem;
    }
    nav {
        display: none;
    }
}

.section-02 {
    background-color: #8c8c8c;
}